@model IEnumerable<BookStore.Models.Author>

@{
    ViewData["Title"] = "Autores";
}

<h3 class="text-center">Autores</h3>

<p>
    <a class="btn btn-success" asp-action="Create">Crear</a>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
